<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="SpecBind" />
      <stepAssembly assembly="SpecBind.Selenium.Steps" />
      <stepAssembly assembly="SpecBind.MsTest.Steps" />
    </stepAssemblies>
  </specFlow>
  <specBind>
    <browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="WinApp" elementLocateTimeout="00:00:10" validateWebDriver="false" createScreenshotAfterScenario="true" />
    <!--<pageHistoryService provider="SpecBind.Helpers.PageHistoryService, SpecBind" />-->
  </specBind>
</configuration>